<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="main w-full h-screen bg-zinc-800 flex justify-center items-center text-white"
    >
      <div class="border-2 border-zinc-700 rounded-md p-5 w-1/4">
        <h3 class="text-2xl font-semibold tracking-wide text-center">
          Edit your profile
        </h3>
        <form
          class=""
          autocomplete="off"
          enctype="multipart/form-data"
          action="/profile/edit"
          method="post"
        >
          <div class="my-2">
            <label for="image">Profile picture :</label>
            <input
              class="block w-full bg-transparent border-2 border-zinc-600 rounded-md px-3 py-2"
              type="file"
              placeholder="Name"
              id="image"
              name="image"
            />
          </div>

          <div class="my-2">
            <label for="name">Name :</label>
            <input
              class="block w-full bg-transparent border-2 border-zinc-600 rounded-md px-3 py-2"
              type="text"
              placeholder="Name"
              id="name"
              name="name"
              required
              value="<%= user.name %>"
            />
          </div>
          <input
            class="bg-blue-500 px-5 py-3 rounded-lg block m-auto cursor-pointer"
            type="submit"
            value="Update"
          />
        </form>
      </div>
    </div>
  </body>
</html>
